<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--
    To run all samples without being prompted for login credentials, un-comment and edit one of the example connection strings below using appropriate values for your environment.
    Otherwise, you will be prompted for login information when you run a sample project.

    Use the system.diagnostics/switches keys below to control levels of logging.
    -->
		<!--
      ** !IMPORTANT! **
      Be mindful that the connection information you enter in these will be available to anyone with access to this file.
      Do not push changes to this file to a cloned GitHub repository.
    -->
		<!--Online using OAuth-->
		<add name="Connect"
	 connectionString="
  AuthType=OAuth;
  Username=SergeiEremin@IPSergeiEremin.onmicrosoft.com;
  Url=https://contosotest.crm.dynamics.com;
  Password=passcode;
  AppId=51f81489-12ee-4a9e-aaae-a2591f45987d;
  RedirectUri=app://58145B91-0C36-4500-8554-080854F2AC97;
  TokenCacheStorePath=d:\MyTokenCache;
  LoginPrompt=Auto"/>
	</connectionStrings>
</configuration>