<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <UserName>$RentReadyTechnicalAssessmentFn20230605170641</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rentreadytechnicalassessmentfn20230605170641.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/013e559e-564d-4a02-bec7-97b3dc2cac64/resourcegroups/RentReadyTechnicalAssessmentFn20230605170641ResourceGroup/providers/Microsoft.Web/sites/RentReadyTechnicalAssessmentFn20230605170641</ResourceId>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://rentreadytechnicalassessmentfn20230605170641.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>